* {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

body {
    background-color: rgb(39, 31, 31);
}

.signin-box {
    color: aliceblue;
    position: relative;
    margin-top: 50px;
}